body{
    background-color: rgb(247, 238, 230);
    box-sizing: border-box;
}
.main{
    /* border: 2px solid palevioletred; */
    margin: 2px;
    display: flex;
    width: 100%;
    /* background-color: rgb(228, 187, 194); */
    /* justify-content: space-between; */
    justify-content: center;
}
.container{
    border: 2px solid palevioletred;
    margin: 2px;
    /* width: 25%; */   
}
#left{
    width:25%;
    text-align: center; 
    padding-top: 15px;
}
#mid{
    width: 40%;
    width: 450px;
}
.container ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-shrink: 20px;
}
.container ul li{
    margin: 4px;
}
.container ul li a{
    text-decoration: none;
    color: black;    
}    
.submenu{
    display: none;
    height: 100%;
}
.active:hover .submenu{
    display: block;
    position: relative;
    top: 50px;
    margin-left: -50px;
}
.submenu ul{
    display: block;
}
.submenu ul li{
    border: 2px solid powderblue;
    justify-content: center;
}
#right{
    width: 25%;
}