#left{
    width: 95%;
    text-align: left;
}
#menuicon{
    /* width: 50%; */
    display: block;
    float: right;
}
#mid {
    display: none;
}
#right{
    display: none;
}
#heroimg{
    display: none;
}
.container1 div{
   margin-left: -102px;
}
#companies{
    flex-wrap: wrap;
}